/* common style */



@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap');

*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #f9fbfc;

}

ul {
    list-style: none;
}

a {
    text-decoration: none;
}

.container {
    max-width: 1170px;
    border: 1px solid red;
    padding: 0 15px;

    margin: 0 auto;
    margin-top: 10px;

}

/* header style 


 */

header {
    margin-top: 15px;
    height: 60px;

}

.inner_header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo_area {
    width: 120px;
}

.logo_area img {
    width: 100%;
}

#menu_toggler {
    display: none;
    border: none;
    outline: none;
    cursor: pointer;
    background: transparent;
}

#menu_toggler i {
    color: black;
    font-size: 35px;


}



.menu ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu ul li {
    padding: 0 18px;

}

.menu ul li a {
    line-height: 44px;
    color: #242f51;

    font-weight: 400;
    transition: 0.3s;

}

.menu ul li a:hover {
    color: red;
}

#trial_btn {
    width: 170px;
    height: 57px;
    border-radius: 29px;
    background-color: #2500f9;

    line-height: 44px;
    color: #ffffff;
    font-weight: 700;
    border: none;
    outline: none;


}

/* banner style section  */
#banner {

    margin-top: 10px;
    /* display: none; */

    min-height: calc(100vh - 75px);
    background-image: url('./images/hero_bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: left bottom 100px;

}

.inner_banner {
    display: flex;
    align-items: center;
    justify-content: space-around;


}

.banner_content_area {}

.banner_content_area h6 {
    display: flex;
    align-items: center;
    font-size: 18px;
    line-height: 28px;
    color: #242f51;
    font-weight: 400;
    max-width: 362px;
    height: 35px;
    border-radius: 18px;
    background-color: #e2eaed;

}

.banner_content_area i {
    display: block;
    width: 39px;
    height: 35px;
    border-radius: 17px;
    background-color: #feaa25;
    font-size: 18px;
    line-height: 28px;
    color: #ffffff;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 5px;


}

.banner_content_area h1 {
    max-width: 550px;
    font-size: 60px;
    line-height: 75px;
    color: #242f51;
    font-weight: 600;
    margin-top: 25px;



}

.banner_content_area p {
    margin: 40px 0;
    max-width: 490px;
    font-size: 18px;
    line-height: 28px;
    color: #616368;
    font-weight: 400;


}

.banner_btn_area {}

#demo_btn {

    line-height: 44px;
    color: #2500f9;
    font-weight: 400;
    border: none;
    outline: none;
    background-color: #f9fbfc;
    margin-left: 20px;



}

.banner_area {
    max-width: 380px;
}

.banner_area img {
    width: 100%;
}


/* client section  */

#client {
    margin-bottom: 100px;

}

#client h6 {

    text-align: center;

    line-height: 28px;
    color: #242f51;
    font-weight: 400;
    margin: 0 0 40px 0;

}

.inner_client {

    display: flex;
    align-items: center;
    justify-content: space-around;


}

.inner_client img {
    width: 120px;
    margin: 0 15px;


}


/* feature style  */
#feature {

    background-image: url('./images/feature_bg.png');
    background-repeat: no-repeat;
    background-position: bottom right;
    background-size: contain;

}

#feature .container h2 {
    max-width: 330px;
    font-size: 36px;
    line-height: 46px;
    color: #242f51;
    font-weight: 600;


}

#feature .container p {
    margin-top: 30px;
    margin-bottom: 60px;
    max-width: 300px;

    line-height: 26px;
    color: #616368;
    font-weight: 400;


}

.feature_box_container {

    max-width: 640px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    justify-items: center;

}

.feature_box {


    width: 280px;

}

.feature_box img {
    width: 90px;
}

.feature_box h4 {
    font-size: 20px;
    line-height: 58px;
    color: #242f51;
    font-weight: 600;
    
   
}

.feature_box p {
   
    line-height: 26px;
    color: #616368;
    font-weight: 400;
       
}